@import "code-light.css" (prefers-color-scheme: light);
@import "code-dark.css" (prefers-color-scheme: dark);

@media (prefers-color-scheme: light) {
    :root {
        --background: #FFFFFF;
        --background-dim: #f5f7f9;

        --foreground: #2B303A;
        --foreground-dim: #576379;
        --foreground-heavy: #191C22;

        --primary-color: #375287;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2B363B;
        --background-dim: #2F3C42;

        --foreground: #f0f2f3;
        --foreground-dim: #d5d5d5;
        --foreground-heavy: #f2f4f5;

        --primary-color: #A1C5FF;
    }
}
* {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Use a modern sans-serif font */
  line-height: 1.6;

}

h1, h2, h3 {
  color: #333; /* Dark text color for better readability */
  font-family: 'Montserrat', sans-serif; /* Use a bold font for headings */
}

a {
  color: #007bff; /* Link color */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition for color and transform */
}

a:hover {
  color: #0056b3; /* Darker color on hover */
  transform: scale(1.1); /* Slight scale-up effect on hover */
}

main {
  background-color: #fff;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
}


img {
  max-width: 100%;
}
/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  main {
    padding: 15px; /* Adjust padding for smaller screens */
  }
}



footer {
  background-color: #120841; /* Use a dark color like black (#000) or a shade of dark gray */
  color: #fff; /* Text color, often white on dark backgrounds */
  padding: 20px; /* Adjust the padding as needed for spacing inside the footer */
  display: flex;
  justify-content: space-between; /* Adjust as needed for your layout */
  align-items: center; /* Adjust as needed for your layout */
  border-top-left-radius: 7px; /* Adjust the value for the desired curve */
  border-top-right-radius: 7px; 
}

footer .content-right {
  text-align: right;
}

footer .content-left {
  text-align: left;
}

/* Optionally, you can style links within the footer */
footer a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underlines from links, adjust as needed */
}

/* Style visited links */
footer a:visited {
  color: #ccc; /* Adjust the color for visited links */
}
